.card-container {
  background-color: #2196f3;
  border-radius: 8px;
  padding: 10px;
  margin: 0 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &:hover {
    background-color: #1976d2; // Cor de hover
  }
}

.card-title {
  color: #fff;
  font-weight: bold;
  font-size: 14px;
}
