<mat-toolbar color="primary">
  Cartões de Crédito
</mat-toolbar>

<div class="cards-container">
  <!-- Cada card agora é um botão com estilo de card -->
  <button mat-card *ngFor="let card of cards" (click)="onCardSelect(card.id)" class="card-button">
    <mat-card-title>{{ card.name }}</mat-card-title>
  </button>
</div>

<div class="balance-container">
  <mat-label>Saldo total: </mat-label>
  <div>{{ total | currency }}</div>
</div>

<div class="filter-container">
  <mat-form-field appearance="fill">
    <mat-label>Ano</mat-label>
    <mat-select [(value)]="selectedYear" (selectionChange)="loadBills()">
      <mat-option *ngFor="let year of availableYears" [value]="year">{{ year }}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Mês</mat-label>
    <mat-select [(value)]="selectedMonth" (selectionChange)="loadBills()">
      <mat-option *ngFor="let month of availableMonths" [value]="month">{{ month | number: '2.0' }}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Parcelado?</mat-label>
    <mat-select [(value)]="isInstallments" (selectionChange)="onInstallmentsChange()">
      <mat-option [value]="true">Sim</mat-option>
      <mat-option [value]="false">Não</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill" *ngIf="isInstallments">
    <mat-label>Número de Parcelas</mat-label>
    <input matInput formControlName="installmentsCount" type="number" placeholder="Número de parcelas">
  </mat-form-field>
</div>

<mat-list>
  <mat-list-item *ngFor="let bill of cardBills">
    <!-- Acessando a descrição e preço usando notação com índice -->
    <div>{{ bill['description'] }} - {{ bill['price'] | currency }}</div>
  </mat-list-item>
</mat-list>

<!-- Botão para adicionar nova transação -->
<button mat-raised-button color="primary" (click)="openAddDialog()">Adicionar</button>

<mat-dialog-content *ngIf="add">
  <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <mat-label>Descrição</mat-label>
      <input matInput formControlName="description" placeholder="Descrição da transação">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Valor</mat-label>
      <input matInput formControlName="amount" type="number" placeholder="Valor da transação">
    </mat-form-field>
    <div class="dialog-buttons">
      <button mat-button (click)="closeAddDialog()">Cancelar</button>
      <button mat-raised-button type="submit" [disabled]="addForm.invalid">Adicionar</button>
    </div>
  </form>
</mat-dialog-content>
